@model Dokument

@{
    ViewBag.Title = "Novi dokument";
}

<h2>Unos novog dokumenta</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All"></div>
    <div class="mb-3">
        <label asp-for="NazivDokument" class="form-label"></label>
        <input asp-for="NazivDokument" class="form-control" />
        <div class="form-text"><span asp-validation-for="NazivDokument" class="text-danger"></span></div>
    </div>
    <div class="mb-3">
        <label asp-for="NazivDatoteke" class="form-label"></label>
        <input asp-for="NazivDatoteke" class="form-control" />
        <div class="form-text"><span asp-validation-for="NazivDatoteke" class="text-danger"></span></div>
    </div>
    <div class="mb-3">
        <label asp-for="IdVrsta" class="form-label"></label>
        <select class="form-control" asp-for="IdVrsta" asp-items="ViewBag.VrsteDokumenata">
            <option disabled selected value="">Odaberite vrstu dokumenta</option>
        </select>
        <div class="form-text"><span asp-validation-for="IdVrsta" class="text-danger"></span></div>
    </div>
    <div class="mb-3">
        <label asp-for="IdProjekt" class="form-label"></label>
        <select class="form-control" asp-for="IdProjekt" asp-items="ViewBag.NaziviProjekata">
            <option disabled selected value="">Odaberite projekt</option>
        </select>
        <div class="form-text"><span asp-validation-for="IdProjekt" class="text-danger"></span></div>
    </div>
    <div class="mb-3">
        <label asp-for="UploadedFile" class="form-label"></label>
        <input asp-for="UploadedFile" type="file" class="form-control" required />
         <div class="form-text"><span asp-validation-for="UploadedFile" class="text-danger"></span></div>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Dodaj</button>
        <a asp-action="Index" class="btn btn-default">Odustani</a>
    </div>
</form>

@section scripts {
    <partial name="IncludeValidation" />
}
